* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2dede;
}

header, footer {
    width: 100%;
    font-family: sans-serif;
    font-weight: bolder;
    color: #fff;
    background-color: #1c7b3c;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 10px;
}

nav {
    margin: 10px;
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: #fff;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    background-color: #4bf87ca5;
    margin: 10px;
}

main {
    margin: 30px;
}

.product-layout {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}

.product-layout .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    justify-content: space-between;
}

.card .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    align-items: center;
}

.product-layout .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    color: red;
}