* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f2f4;
}

header {
  background-color: #ffffff;
  color: #fff;
  padding: 0.317rem 0;
}

.header_logo img {
  max-width: 1.562rem ;
  margin-left: 1.25rem;
  margin-top: 0.125rem;
}

.search {
  background-color: #f0f5ff;
  border: none;
}

input:focus {
  outline: none;
}

.header_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.header_search input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #f0f5ff;
}

.header_search button {
  padding: 0.5rem 0.937rem;
  background-color: #ff9f00;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.header_nav ul li button {
  padding: 0.625rem 1.125rem;
  background-color: #2a55e5;
  color: #fff;
  border: none;
  border-radius: 0.25px;
  cursor: pointer;
}

.header_nav ul {
  display: grid;
  grid-template-columns: repeat(2, 6.25rem);
  list-style-type: none;
  margin: 0;
  padding: 0;
  place-items: center;
  place-content: center;
}

.header_nav li {
  margin-right: 1.25rem;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #ffffff;
  justify-content: center;
  place-content: center;
  place-items: center;
  margin: 0 auto;
  width: 76.25rem;
  gap: 0.312px;
  height: 7.187rem;
}

.items {
  margin-top: 0.625rem;
  display: grid;
  align-items: center;
}

.breaker {
  margin-top: 1.25rem;
}

a {
  width: 0.625rem;
  height: 1.25rem;
}

.mid-banner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.625rem;
  justify-content: center;
}

.logo {
  width: 25rem;
}

.discount-banner {
 margin-left: 1.375rem;
}
.discount-banner img {
  max-width: 100%;
}

.lower-banner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  place-content: center;
  place-items: center;
  width: 76.25rem;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
  background-color: #ffffff;
  height: 21.875rem;
}

.lower-banner-heading {
  grid-column-start: 1;
  grid-column-end: 7;
}

.lower-banner-ad {
  border: 0 solid #e0e0e0;
  padding: 0.625rem;
  border-width: 0.0625rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 11.25rem;
  height: 13.75rem;
}

.lower-banner-ad img {
  width: 10rem;
  height: 11.25rem;
}

footer {
  background-color: #212121;
  color: #5f6d6d;
  padding: 0.312rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  max-width: 75rem;
  margin: 0 auto;
}

.footer-section h4 {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #7a8787;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.625rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
}

/* Mobile View */

@media only screen and (max-width: 480px) {

  header {
    width: 100%;
    padding: 0%;
  }

  .header_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .header_logo img {
    max-width: 100% ;
    margin: 0%;
    /* margin-left: 1.25rem;
    margin-top: 0.125rem; */
  }

  .header_search {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
  }

  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    justify-content: center;
    place-content: center;
    place-items: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
    /* gap: 0.25px; */
    height: auto;
  }

  .items {
    margin-top: 0.25rem;
    display: grid;
    align-items: center;
  }

  .discount-banner {
    /* width: 100%; */
    margin: 0%;
    padding: 0%;
  }

  .mid-banner {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    padding: 0%;
    gap: 0.625rem;
    justify-content: center;
    place-items: center;
    place-content: center;
  }

  .logo {
    width: 100%;
  }

  .lower-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0%;
    place-content: center;
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
    background-color: #ffffff;
    height: auto;
  }
  
  .lower-banner-heading {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .lower-banner-ad {
    border: 0 solid #e0e0e0;
    padding: 0.625rem;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  footer {
    width: 100%;
    background-color: #212121;
    color: #5f6d6d;
    padding: 0.312rem 0;
    text-align: center;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin: 0%;
  }
}

/* Tablet or Desktop View */

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    color: #fff;
    padding: 1rem;
    margin: 0;
  }

  .header_logo {
    width: 20vw;
  }
  
  .header_logo img {
    width: 100% ;
  }

  .header_search {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
  }

  .header_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100rem;
    margin: 0;
    padding: 1rem;
  }

  .item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ffffff;
    justify-content: center;
    place-content: center;
    place-items: center;
    margin: 0;
    width: 100%;
    padding: 1rem;
    gap: 0.312px;
    height: auto;
  }
  
  .items {
    margin-top: 0.625rem;
    display: grid;
    align-items: center;
  }

  .discount-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .mid-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
    padding: 1rem;
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .logo {
    width: 100%;
  }
  
  .lower-banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0%;
    place-content: center;
    place-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1.25rem;
    background-color: #ffffff;
    height: auto;
  }
  
  .lower-banner-heading {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .lower-banner-ad {
    border: 0 solid #e0e0e0;
    padding: 0.625rem;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 11.25rem;
    height: 13.75rem;
  }
  
  .lower-banner-ad img {
    width: 10rem;
    height: 11.25rem;
  }

  footer {
    background-color: #212121;
    color: #5f6d6d;
    padding: 0.312rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
    text-align: center;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    place-items: center;
    place-content: center;
    width: 100%;
    margin: 0%;
  }
  
  .footer-section h4 {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    color: #7a8787;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.625rem;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
  }

}

@media screen and (orientation: portrait) {
  
  header {
    width: 100%;
    padding: 0%;
  }

  .header_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
    justify-content: space-evenly;
    align-items: center;
    place-content: center;
    place-items: center;
    padding: 1rem;
  }

  .header_logo img {
    max-width: 100% ;
    margin: 0%;
    
  }

  .header_search {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
  }

  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    justify-content: center;
    place-content: center;
    place-items: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: auto;
  }

  .items {
    margin-top: 0.25rem;
    display: grid;
    align-items: center;
  }

  .discount-banner {
    margin: 0%;
    padding: 0%;
  }

  .mid-banner {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    padding: 0%;
    gap: 0.625rem;
    justify-content: center;
    place-items: center;
    place-content: center;
  }

  .logo {
    width: 100%;
  }

  .lower-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0%;
    place-content: center;
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
    background-color: #ffffff;
    height: auto;
  }
  
  .lower-banner-heading {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .lower-banner-ad {
    border: 0 solid #e0e0e0;
    padding: 0.625rem;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 11.25rem;
    height: 13.75rem;
  }

  footer {
    width: 100%;
    background-color: #212121;
    color: #5f6d6d;
    padding: 0.312rem 0;
    text-align: center;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin: 0%;
  }
}