@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

:root {
    --primary-color: #ff511a;
    --secondary-color: #43ba7f;
    --text-color: #212741;
    --bg-color: #fff;
    --link-color: #bf998f;
    --dark-bg-color: #3a3e4d;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    background-color: var(--dark-bg-color);
    color: var(--link-color);
}

header .logo {
    width: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.nav-list a {
    color: var(--link-color);
}

.nav-list a.active, .nav-list a:hover {
    color: var(--primary-color);
}

.main-nav i {
    color: var(--link-color);
    font-size: 4rem;
}

.hero {
    height: auto;
    background-image: url('../assets/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    animation: slideIn 1s ease-in-out;
}

.hero em {
    font-weight: 500;
    color: var(--primary-color)
}

.hero-container {
    max-width: 50%;
}

.hero .heading {    
    font-weight: 500;
}

.hero .divider {
    width: 20%;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 1rem;    
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes slideIn {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }

    to {
        transform: trslateY(0%);
        opacity: 1;
    }
}

@media only screen and (max-width: 990px) {

    .hero {
        display: flex;
        justify-content: center;
    }

    .hero-container {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 560px) {
    .hero {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-container {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-para {
        display: none;
    }

    .hero .divider {
        display: none;
    }
}

