@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

:root {
    --primary-color: #ff511a;
    --secondary-color: #43ba7f;
    --text-color: #212741;
    --bg-color: #fff;
    --link-color: #bf998f;
    --dark-bg-color: #3a3e4d;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    background-color: var(--dark-bg-color);
    color: var(--link-color);
}

header .logo {
    width: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.nav-list a {
    color: var(--link-color);
}

.nav-list a.active, .nav-list a:hover {
    color: var(--primary-color);
}

.main-nav i {
    color: var(--link-color);
    font-size: 2.5rem;
}

.hero {
    height: auto;
    background-image: url('../assets/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    animation: slideIn 1s ease-in-out;
}

em {
    font-weight: 500;
    color: var(--primary-color)
}

.hero-container {
    max-width: 50%;
}

.hero .heading {    
    font-weight: 500;
}

.hero .divider {
    width: 20%;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 1rem;    
}

.section-heading {
    text-align: center;
}

.section-heading h3 {
    color: var(--primary-color);
}

.section-heading h1 {
    color: var(--text-color);
}

.service-item {
    width: 95%;
    height: 90%;
    padding: 2.5rem;
    margin-top: 2rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem #5a5858;
}

.service-item i {
    font-size: 4rem;
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.service-item i:hover {
    margin-top: 2.5rem;
}

.service-item h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;
}

.service-item p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-color);
}

.banner {
    height: auto;
    color: var(--bg-color);
    padding: 3rem;
    width: 100%;
    background-image: url("../assets/images/banner-bg.jpg");
    background-size: cover;
    background-position: center;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    width: 25%;
}

.banner-buttons {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.banner-buttons a{
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    width: 40%;
    padding: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

.banner-buttons a:hover {
    outline: 1px solid var(--primary-color);
}

.banner-buttons .discover-btn {
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.banner-buttons .contact-btn {
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.about {
    text-align: center;
}

.about .section-heading a {
    font-weight: 600;
}

.course-list {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
}

.list-head span {
    font-weight: 600;
    color: var(--text-color);
}

.course-list li {
    display: flex;
    padding: 1rem;
}

.course-list li span {
    flex: 1;
    font-size: 1rem;
    color: var(--text-color);
}

.item-title {
    color: var(--secondary-color) !important;
    font-weight: 600 !important;
}

.learning-plan-form {
    background-image: url("../assets/images/plan-bg.png");
    color: var(--bg-color);
    justify-content: space-between;
    padding: 1rem;
}

.learning-plan-form .image{
    width: 40%;
}

.learning-plan-form img {
    width: 100%;
}

.learning-plan-form form {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.learning-plan-form input, select {
    background-color: var(--dark-bg-color);
    border-radius: 0.625rem;
    color: var(--bg-color);
    padding: 0.312rem;
    margin-top: 0.625rem;
    border: none;
}

.field-5 {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.learning-plan-form .submit {
    
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem;
    white-space: nowrap;
    font-weight: 600;
}

.learning-plan-form input:focus {
    border: none;
    outline: none;
}

.form-heading {
    grid-column: 1/3;
    margin-bottom: 1rem;
}

.field-3 {
    grid-column: 1/3;
}

.field-4 {
    grid-column: 1/3;
}

.learning-plan-form .fields {
    display: flex;
    flex-direction: column;
}

.learning-plan-form form p {
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
}

.learning-plan-form form h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.testimonial-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px var(--primary-color);
    gap: 1rem;
    padding: 1rem;
}

.testimonial-card .image-container {
    width: 30%;
    border-radius: 1rem;
    overflow: hidden;
}

.testimonial-card .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.testimonial-card i {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 1rem;
    border-radius: 0.625rem;
    font-size: 2vw;
    margin-bottom: 0.625rem;
}

.testimonial-card h4 {
    font-size: 2vw;
    font-weight: 600;
}

.testimonial-card p {
    font-size: 1.4vw;
}

.testimonial-card span {
    font-size: 2vw;
    color: var(--primary-color);
}

#testimonial-carousel {
    width: 90%;
    justify-self: center;
}

#testimonial-carousel button {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    opacity: 1;
    background-color: #f1f19e;
}

.carousel-control-prev {
    left: 10%;
    align-self: center;
}

.carousel-control-next {
    left: 100%;
    align-self: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}


@keyframes slideIn {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }

    to {
        transform: trslateY(0%);
        opacity: 1;
    }
}

@media only screen and (max-width: 860px) {

    .hero {
        display: flex;
        justify-content: center;
    }

    .hero-container {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service-item i {
        float: none;        
    }

    .banner-text {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        width: 45%;
    }

    .banner-buttons {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .learning-plan-form {
        background-image: url("../assets/images/plan-bg.png");
        color: var(--bg-color);
        justify-content: space-between;
        padding: 1rem;
    }
    
    .learning-plan-form .image{
        width: 40%;
    }
    
    .learning-plan-form img {
        width: 100%;
    }
    
    .learning-plan-form form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .learning-plan-form .image img {
        display: none;    
    }
    
}

@media only screen and (max-width: 760px) {
    .hero {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-container {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .logo {
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .hero-para {
        display: none;
    }

    .hero .divider {
        display: none;
    }

    .service-item {
        width: 100%;
        height: auto;
        padding: 1rem;
        margin-top: 2rem;
        border: 1px solid #fff;
        border-radius: 1rem;
        box-shadow: 0px 0px 1rem #5a5858;
    }

    .service-item i {
        float: none;
    }

    .banner-text {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        width: 40%;
    }
    
    .banner-buttons {
        display: flex;
        width: 40%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .banner-buttons a{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.625rem;
        border: none;
        text-align: center;
        width: 100%;
        height: 3rem;
        font-weight: 600;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 560px) {
    .hero {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header .logo {
        width: 4rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .hero-container {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-para {
        display: none;
    }

    .hero .divider {
        display: none;
    }

    .service-item {
        width: 100%;
        height: auto;
        padding: 1rem;
        margin-top: 2rem;
        border: 1px solid #fff;
        border-radius: 1rem;
        box-shadow: 0px 0px 1rem #5a5858;
    }

    .service-item i {
        float: none;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }

    .banner-text {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        width: 100%;
    }
    
    .banner-buttons {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .banner-buttons a{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.625rem;
        border: none;
        text-align: center;
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
    }

    .course-list li {
        flex-direction: column;
    }
    
    #testimonial-carousel {
        width: 100%;
    }
    #testimonial-carousel button {
        display: none;
    }
}

