@font-face {
    font-family: ShortBaby;
    src: url(ShortBaby-Mg2w.ttf);
}

.mobile-view {
    display: none;
}

* a {
    text-decoration: none;
}

body {
    font-family: 'Sedan SC', sans-serif;
    background-color: #ebe5e5;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1.2rem;
    padding: 1.2rem;
}

.left {
    position: sticky;
    top: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 90vh;;
    border-radius: 2rem;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
}

.left img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile p {
    font-weight: 250;
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.nav-items {
    display: flex;
    gap: 1.2rem;
    width: 10rem;
    align-items: center;
    padding-right: 1.2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav-items:hover {
    color: gold;
}

.nav-items>a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
}

.nav-items>a:hover {
    color: lightcyan;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;    
    border-radius: 2rem;
    padding: 2rem;
}

.right h3 {
    text-decoration: underline;
    text-align: center;
}

.right h3:not(.footer-h3):hover {
    text-decoration-color: goldenrod;
    font-size: 2rem;
    transition: 0.5s;
}

.right header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 1.2rem;
}

header h1 {
    margin-left: 3rem;
}

header input {   
    border: none;
    font-family: 'Sedan';
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1.2rem;
    /* margin-right: 6%; */
}

header input::placeholder {
    color: grey;
}

header input:focus {
    outline: none;
    border: 2px solid rgb(48, 244, 48);
}

#board {
    align-self: center;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 85%;
    background-color: #fff;
    border-radius: 1.2rem;
}

#board img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#data {
    padding: 1.2rem;
    margin: 1.2rem;
}

#data>.data-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;
}

.data-box .box{
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 1rem;
    width: 8rem;
    margin: 0.5rem;
    font-family: ShortBaby, sans-serif;
}

.data-box .box:hover {
    background: radial-gradient(#f8a7ec 0%, #8dc7eb 100%);
}

.data-box .box p {
    margin: 0;;
    padding: 3px;
}

.box1 {
    background-color: #b3f997;
}

.box1 i {
    align-self: flex-end;
}

.box2 {
    background-color: #f7a8f5;
}

.box2 i {
    align-self: flex-end;
}

.box3 {
    background-color: #97cff1;
}

.box3 i {
    align-self: flex-end;
}

.box4 {
    background-color: #f69c6b;
}

.box4 i {
    align-self: flex-end;
}

#users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: none;
    border-collapse: collapse;
    margin: 1.2rem;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    width: 70%;
    background-color: #fff;
    overflow: hidden;
}

th {
    background-color: #e1f322;
    color: black;
    padding: 0.5rem;
}

td {
    color: black;
    padding: 0.5rem;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:hover {
    background-color: lightgrey;
}

#schedule {
    height: 32rem;
    width: 75%;
    align-self: center;
    background-color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.2rem;
    overflow: hidden;
}

#schedule .head {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem;
    margin: 0.5rem;
    gap: 1.2rem;
}

#schedule .meetings {
    height: 19.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    overflow-y: scroll;
}

#schedule .meetings div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
    margin: 0.5rem;
    /* border-radius: 20px; */
    height: 5rem;
}

#schedule .meetings div p,h4 {
    padding: 3px;
    margin: 0;
}

#schedule .meetings div:nth-child(odd) {
    border-left: 5px solid #3650e5;
}

#schedule .meetings div:nth-child(even) {
    border-left: 5px solid #2ef11c;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-self: center;
    width: 95%;
    margin: 0.5rem;
    padding: 0.5rem;
}

#contact .location iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1.2rem;
}

#contact div:not(.detail) {
    border: 2px solid grey;
    border-radius: 1.2rem;
    overflow: hidden;
}

.feedback {
    padding: 1rem;
}

.feedback h4 {
    text-decoration: underline;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.5rem;
}

form input,textarea {
    outline: none;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.6rem;
    font-family: Sedan;
}

form input:focus, textarea:focus {
    border: 2px solid #1fed45;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #1fed45;
    color: black;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

footer {
    background-color: black;
    color: #fff;
    padding: 0.5rem;
    /* margin: 10px; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
}

footer i {
    font-size: 2rem;
    margin: 1rem;
    color: #fff;
}

footer i:hover {
    color: gold;
}


/* Media query for Tablet View */ 

@media screen and (max-width: 780px) {

    main {
        display: block;
    }

    .left {
        position: static;
        height: auto;
    }

    .profile {
        position: relative;
    }

    .profile-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -2rem;
    }

    .profile-name {
        margin-top: 4rem;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0.5rem;
        padding: 0.5rem;
        gap: 1rem;
    }

    .navbar i {
        display: none;
    }

    .nav-items {
        width: auto;
        margin: 0%;
        padding: 0%;
        gap: 0.5rem;
    }

    .nav-items>a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
    }
    
}

/* Media query for Mobile view */
@media screen and (max-width: 480px) {
    main {
        display: block;
    }

    .left {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .profile {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .profile-img {
        position: static;
    }

    .profile-name {
        margin-top: 0;
    }

    .navbar {
        display: none;
    }

    .mobile-view {
        display: block;
    }

}
