* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    display: block;
    color: #fff;
    background-color: rgb(2, 2, 105);
    text-align: center;
    position: sticky;
    top: 0;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    filter: drop-shadow(5px 5px 15px black);
    padding: 20px;
    z-index: 2;
}

.bg-image {
    display: block;
    width: 100%;
    position: fixed;
    z-index: -1;
    filter: brightness(60%);
}

main {
    display:block;
    color: #fff;
    width: 100%;
    position: relative;
    /* top: 70px; */
    text-align: center;
}

main h2 {
    margin: 10px;
    padding: 10px;
}

.coaches img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
}

.images {
    position: relative;
    width: 300px;
    height: 250px;
    display: inline-block;
    border: 10px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.role {
    position: relative;
    bottom: 50px;
    font-weight: bolder;
}

.star-players {
    position: relative;
    display: inline-block;
    color: rgb(2, 2, 105);
    width: 550px;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
}

.players-img{
    display: inline-block;
    width: 400px;
    height: 250px;
    padding: 10px;
}

.players-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.players {
    margin: 10px;
    width: 500px;
    height: 300px;
    overflow-y: scroll;
}

.star-players p {
    padding: 10px;
}

.star-players .sticky{
    position: sticky;
    top: 0px;;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
}

table {
    margin: 10px;
    text-align: left;
    display: inline-block;
    border: none;
    border-collapse: collapse;
}

table thead th {
    width: 500px;
    background-color: rgb(2, 2, 105);
    color: #fff;
    padding: 10px;
    filter: drop-shadow(2px 2px 5px black);
    margin: 0;
}

table tbody tr td {
    width: 500px;
    padding: 10px;
    color: black;
}

tr:nth-child(odd){
    background-color: #fff;
    filter: drop-shadow(5px 5px 10px rgb(130, 130, 130));
}

tr:nth-child(even){
    background-color: #f4f3f3;
    filter: drop-shadow(5px 5px 10px rgb(146, 145, 145));
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(2, 2, 105);
    color: #fff;
    padding: 10px;
    margin-top: 50px;
}

footer p {
    padding: 15px;
}


